@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * Shared style */
.display-flex {
  display: flex;
}
.text-dark {
  color: #131313;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
  line-height: 26px;
  font-size: 1rem;
}

.bg-primary {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn {
  background-color: #ff900e;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}

/* *header style */
header {
  padding-top: 50px;
}

/* *navbar style */
.nav-bar {
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}

.nav-list {
  font-size: 1.125rem;
  align-items: center;
}
.list-item {
  list-style: none;
  text-decoration: none;
  margin-right: 50px;
}
.nav-link {
  text-decoration: none;
}
/* *banner style */
.banner {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
}
.banner-content {
  max-width: 880px;
  margin: 0 auto;
}
.banner-content h1 {
  font-size: 4rem;
  font-weight: 700;
}

.banner-content p {
  font-size: 1rem;
  line-height: 26px;
  margin-top: 26px;
}
.primary-btn {
  margin-top: 30px;
}
.banner img {
  width: 100%;
  padding: 50px 0px 50px 0px;
}

/** feature section style */
.feature-section {
  align-items: center;
  gap: 70px;
}
.feature-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-content {
  max-width: 530px;
}
.feature-content h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.quick-list {
  font-weight: 500;
}
.feature-text {
  color: #ff900e;
}
.feature-content p {
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 30px;
}

/** love and enjoy style */
.love-enjoy {
  gap: 150px;
}
.love-enjoy-content {
  max-width: 580px;
}
.love-enjoy-title {
  font-size: 3rem;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  margin-bottom: 24px;
}
.love-enjoy-card {
  padding: 30px;
  margin-bottom: 30px;
}
.love-enjoy-card h4 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
.architect-image img {
  max-width: 100%;
}
.experience-btn {
  margin-top: -130px;
  margin-left: -100px;
}
.btn-ex-year {
  font-size: 4rem;
  font-weight: 700;
}
.btn-text {
  font-size: 1.7rem;
  font-weight: 400;
}

/** Responsive Design */
/** responsive for mobile or small device */

@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-list,
  .feature-section,
  .love-enjoy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-item {
    margin-right: 0px;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .feature-image {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-content {
    text-align: center;
  }
  .experience-btn {
    margin-top: 20px;
    margin-left: 20px;
  }
}
/** responsive for tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .feature-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
